.o-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .o-derecha-container{

    
    h2{
        color:red;
    }
    
    
    pre{    
        
        
        
      }
    
    }
}